@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');



:root {
    --background-color: #1f2937;
    --text-color: #4995fa;
    --form-color: rgb(245, 237, 237);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}

.log-in {
    width: 300px;
    box-shadow: 0 0 4px 0 var(--form-color);
    background-color: var(--form-color);
    padding: 20px;
    margin: 8% auto 0 ;
    
}

.input {
    display: flex;
    flex-direction: column;
    gap: 12px;   
}


h1 {
    text-align: center;
    padding: 12px;
}